<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main-style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/lib/logo.png">
    <title>CS:GO.RazoTack | </title>
</head>
<body>
    <header><h1>CS:GO.RazoTack </h1></header>

    <div class="container">
        <div class="preview">
            <div class="img"><img src="" alt="Фото оружия"></div>
            <table class="damage">
                <tr>                    <td>Часть тела   </td>  <td              > Без брони </td>  <td> С броней </td></tr>
                <tr class="head">       <td>Голова       </td>  <td class="nude">           </td>  <td class="armor">          </td></tr>
                <tr class="arms-chest"> <td>Грудь и руки </td>  <td class="nude">           </td>  <td class="armor">          </td></tr>
                <tr class="stomach">    <td>Живот        </td>  <td class="nude">           </td>  <td class="armor">          </td></tr>
                <tr class="legs">       <td>Ноги         </td>  <td class="nude">           </td>  <td class="armor">          </td></tr>
            </table>
        </div>
        <div class="view">
            <table>
                <tr> 
                    <td>Бронепробиваемость</td> 
                    <td class="loss"></td> 
                </tr>
                <tr> 
                    <td>Патрон в магазине</td> 
                    <td class="magazine"></td> 
                </tr>
                <tr>
                    <tr></tr><td>Патрон в запасе</td> 
                    <td class="stock"></td>
                </tr>
                <tr>
                    <tr></tr><td>Глушитель</td> 
                    <td class="mufler"></td>
                </tr>
                <tr> 
                    <td>Тип стрельбы</td> 
                    <td class="shot-mode"></td> 
                </tr>
                <tr>
                    <tr></tr><td>Скорострельность</td> 
                    <td class="shot-speed"></td>
                </tr>
                <tr>
                    <tr></tr><td>Скорость перезарядки</td> 
                    <td class="reload"></td>
                </tr>
                <tr>
                    <tr></tr><td>Скорость передвижения</td> 
                    <td class="speed"></td>
                </tr>
                <tr>
                    <tr></tr><td>Дальность поражение (в цель диаметром 30см)</td> 
                    <td class="range"></td>
                </tr>
                <tr>
                    <tr></tr><td>Цена</td> 
                    <td class="cost"></td>
                </tr>
                <tr>
                    <tr></tr><td>Денег за убийство</td> 
                    <td class="kill-cost"></td>
                </tr>
                <tr>
                    <tr></tr><td>Доступность</td> 
                    <td class="avaliable"></td>
                </tr>
            </table>

        </div>
    </div>

    <script src="/anime.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
    <script src="../weapons.js"></script>
    <script src="script.js"></script>
</body>
</html>