.pistols {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1051933844678389900/pistolSectionBg.jpg);
}

.shotguns {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1051937147831189594/pendergast-nova-bubblegum-3.jpg);
}

.smg {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1052244257970343956/web-FNP90-03-1024x768.webp);
}

.rifles {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1052295544279679016/794142428_preview_Csgo-ak47-fuel-injector-workshop-1024x576.jpg);
}

.snipers {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1052581741279318037/Awp-dragon-naxuy.webp);
}

.machine-guns {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1052584283161772113/P1210164-900x600.jpg);
}

.grenades {
    background-image: url(https://cdn.discordapp.com/attachments/1045783386192629822/1046132216218009600/grenade.png);
}

.up-button {
    visibility: visible;
}