

main {
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    flex-wrap: wrap;
    
}


.bg-map{
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}